In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv('movies_data.csv')
df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [14]:
df.genre.unique()

array(['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror', 'Film-Noir', 'Sci-Fi',
       'History', 'Thriller', 'Family', 'Fantasy'], dtype=object)

In [15]:
len(df.genre.unique())

16

In [16]:
df.genre.nunique()

16

In [17]:
df.content_rating.unique()

array(['R', 'PG-13', 'NOT RATED', 'PG', 'UNRATED', 'APPROVED', 'PASSED',
       'G', 'X', nan, 'TV-MA', 'GP', 'NC-17'], dtype=object)

In [18]:
df.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [19]:
for x in df.columns:
    print(f"x >> {x}",df[x].unique(),sep="\n\n")
    print(' ')

x >> star_rating

[9.3 9.2 9.1 9.  8.9 8.8 8.7 8.6 8.5 8.4 8.3 8.2 8.1 8.  7.9 7.8 7.7 7.6
 7.5 7.4]

x >> title

['The Shawshank Redemption' 'The Godfather' 'The Godfather: Part II'
 'The Dark Knight' 'Pulp Fiction' '12 Angry Men'
 'The Good, the Bad and the Ugly'
 'The Lord of the Rings: The Return of the King' "Schindler's List"
 'Fight Club' 'The Lord of the Rings: The Fellowship of the Ring'
 'Inception' 'Star Wars: Episode V - The Empire Strikes Back'
 'Forrest Gump' 'The Lord of the Rings: The Two Towers' 'Interstellar'
 "One Flew Over the Cuckoo's Nest" 'Seven Samurai' 'Goodfellas'
 'Star Wars' 'The Matrix' 'City of God' "It's a Wonderful Life"
 'The Usual Suspects' 'Se7en' 'Life Is Beautiful'
 'Once Upon a Time in the West' 'The Silence of the Lambs'
 'Leon: The Professional' 'City Lights' 'Spirited Away' 'The Intouchables'
 'Casablanca' 'Whiplash' 'American History X' 'Modern Times'
 'Saving Private Ryan' 'Raiders of the Lost Ark' 'Rear Window' 'Psycho'
 'The Green Mile' 'Sunset Blvd.' 'The Pianist' 'The Dark Knight Rises'
 'Gladiator' 'Terminator 2: Judgment Day' 'Memento' 'Taare Zameen Par'
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb'
 'The Departed' 'Cinema Paradiso' 'Apocalypse Now' 'The Great Dictator'
 'The Prestige' 'Back to the Future' 'The Lion King' 'The Lives of Others'
 'Alien' 'Paths of Glory' 'Django Unchained' '3 Idiots'
 'Grave of the Fireflies' 'The Shining' 'M' 'WALL-E'
 'Witness for the Prosecution' 'Munna Bhai M.B.B.S.' 'American Beauty'
 'Das Boot' 'Princess Mononoke' 'Amelie' 'North by Northwest'
 'Rang De Basanti' 'Jodaeiye Nader az Simin' 'Citizen Kane' 'Aliens'
 'Vertigo' 'Oldeuboi' 'Once Upon a Time in America' 'Double Indemnity'
 'Star Wars: Episode VI - Return of the Jedi' 'Toy Story 3' 'Braveheart'
 'To Kill a Mockingbird' 'Requiem for a Dream' 'Lawrence of Arabia'
 'A Clockwork Orange' 'Bicycle Thieves' 'The Kid' 'Swades'
 'Reservoir Dogs' 'Eternal Sunshine of the Spotless Mind' 'Taxi Driver'
 'Dilwale Dulhania Le Jayenge' "Singin' in the Rain" 'All About Eve'
 'Yojimbo' 'The Sting' 'Rashomon' 'Amadeus'
 'The Treasure of the Sierra Madre' 'Monty Python and the Holy Grail'
 'Full Metal Jacket' 'The Apartment' 'Ikiru' 'The Third Man' 'Snatch.'
 'For a Few Dollars More' 'Metropolis' 'Dil Chahta Hai'
 '2001: A Space Odyssey' 'Some Like It Hot' 'L.A. Confidential'
 'Batman Begins' 'Inglourious Basterds' 'Scarface'
 'Mr. Smith Goes to Washington' 'Toy Story'
 'Indiana Jones and the Last Crusade' 'Unforgiven' 'The Great Escape'
 'Jagten' 'On the Waterfront' 'The General' 'Raging Bull' 'Downfall' 'Up'
 'Wild Strawberries' 'The Gold Rush' 'Ran' 'Chinatown'
 'My Neighbor Totoro' 'Judgment at Nuremberg' 'Barfi!' 'The Seventh Seal'
 'Heat' "Pan's Labyrinth" 'The Bridge on the River Kwai' 'Die Hard'
 'Good Will Hunting' 'The Wages of Fear' 'The Secret in Their Eyes'
 'Lagaan: Once Upon a Time in India' 'The Wolf of Wall Street'
 'It Happened One Night' 'Blade Runner' 'Warrior' "Howl's Moving Castle"
 'The Elephant Man' 'Rebecca' 'Incendies'
 'Lock, Stock and Two Smoking Barrels' 'V for Vendetta' 'The Big Lebowski'
 'Cool Hand Luke' 'Relatos salvajes' 'Casino' 'Gone with the Wind'
 'Gone Girl' 'The Best Years of Our Lives' 'How to Train Your Dragon'
 'Diabolique' 'Gran Torino' 'Rush' 'Into the Wild' 'My Sassy Girl'
 'The Deer Hunter' 'Mary and Max' "Hachi: A Dog's Tale"
 'The Maltese Falcon' 'A Beautiful Mind' 'Dial M for Murder'
 'Trainspotting' 'Tae Guk Gi: The Brotherhood of War' 'Persona'
 'Touch of Evil' 'Fargo' 'The Avengers' 'The 400 Blows'
 'The Princess Bride' 'Hotel Rwanda' 'Stalker' 'The Battle of Algiers'
 'Underground' 'Fanny and Alexander' 'Network' 'The Thing'
 'Butch Cassidy and the Sundance Kid' 'The Grapes of Wrath'
 'Black Cat, White Cat' 'Life of Brian' 'The Sixth Sense' 'Finding Nemo'
 'Nausicaa of the Valley of the Wind' 'Kingsman: The Secret Service'
 'Platoon' 'Guardians of the Galaxy' 'In the Name of the Father'
 'Kill Bill: Vol. 1' 'No Country for Old Men' 'Le Samourai'
 '12 Years a Slave' "La leggenda del pianista sull'oceano" '8 1/2'
 'Ben-Hur' 'Amores Perros' 'Stand by Me'
 'What Ever Happened to Baby Jane?' 'Annie Hall' 'The Imitation Game'
 'Laura' 'Departures' 'Infernal Affairs' 'There Will Be Blood'
 'The Grand Budapest Hotel' 'La Strada' 'Sin City' 'Memories of Murder'
 'Donnie Darko' "Who's Afraid of Virginia Woolf?" 'Gandhi' 'Solaris'
 'Harry Potter and the Deathly Hallows: Part 2' 'Paris, Texas'
 'The Wizard of Oz' '3-Iron' 'Boyhood' 'Million Dollar Baby'
 'The Last Picture Show' 'Strangers on a Train' 'Cat on a Hot Tin Roof'
 'La Dolce Vita' 'Chungking Express' 'The Night of the Hunter' 'La Haine'
 'Yip Man' 'High Noon' 'Notorious' 'Before Sunrise'
 'Elite Squad: The Enemy Within' 'The Bourne Ultimatum'
 'Castle in the Sky' 'The Celebration'
 'Spring, Summer, Fall, Winter... and Spring' 'Shutter Island'
 'Barry Lyndon' 'Stalag 17' 'Three Colors: Red'
 'X-Men: Days of Future Past' 'Sleuth' 'In the Mood for Love'
 'The Man Who Shot Liberty Valance' 'Arsenic and Old Lace' 'The Big Sleep'
 'Roman Holiday' 'The Philadelphia Story' 'Akira' 'Anatomy of a Murder'
 'The Cabinet of Dr. Caligari' 'The Help' 'The Sea Inside' 'Elite Squad'
 'The Hustler' 'Rio Bravo' 'Twelve Monkeys' 'Harvey' 'A Christmas Story'
 'Jaws' 'The Raid 2' 'Rocky' 'Wings of Desire'
 'Pirates of the Caribbean: The Curse of the Black Pearl' 'The Killing'
 'Papillon' "The King's Speech" 'Groundhog Day' 'A Fistful of Dollars'
 'Monsters, Inc.' 'Dog Day Afternoon' 'The Perks of Being a Wallflower'
 'Young Frankenstein' 'The Terminator' 'Harold and Maude' 'Before Sunset'
 'A Streetcar Named Desire' 'Bringing Up Baby'
 'The Diving Bell and the Butterfly' 'His Girl Friday' 'Sling Blade'
 'All Quiet on the Western Front' 'Prisoners' 'The Return'
 'The Manchurian Candidate' 'Duck Soup' 'Beauty and the Beast'
 'The Truman Show' 'The Wild Bunch' 'Rope' 'The Graduate' 'Jurassic Park'
 'Dogville' 'Furious 7' 'Patton' 'The Nightmare Before Christmas'
 'Being There' 'Persepolis' 'This Is Spinal Tap' 'East of Eden'
 'Pink Floyd The Wall' 'Blood Diamond' 'Big Fish' 'Slumdog Millionaire'
 'Star Trek' 'The Straight Story' 'Crimes and Misdemeanors' 'Charade'
 'JFK' 'Dawn of the Dead' 'Magnolia' 'Manhattan' 'Central Station'
 'Brazil' 'The Exorcist' 'Her' 'Dancer in the Dark' 'Rain Man'
 'Talk to Her' 'The Adventures of Robin Hood' 'Aguirre, the Wrath of God'
 'In the Heat of the Night' 'Nosferatu' 'Black Swan' 'Ratatouille'
 'The Searchers' 'Short Term 12' 'Doctor Zhivago' 'Life of Pi'
 "All the President's Men" 'Battleship Potemkin' 'Dances with Wolves'
 'Catch Me If You Can' 'Cinderella Man' 'Dead Poets Society'
 'Ghost in the Shell' 'Head-On' "No Man's Land" 'Dallas Buyers Club'
 'Days of Heaven' 'The Sound of Music' 'District 9' 'Shadow of a Doubt'
 'Frankenstein' 'Shaun of the Dead' 'Night of the Living Dead'
 'Kill Bill: Vol. 2' 'Secrets & Lies' 'The Artist' 'Aladdin'
 'The Lady Vanishes' 'The Hobbit: The Desolation of Smaug'
 'Let the Right One In' 'Fiddler on the Roof'
 'The Hobbit: An Unexpected Journey' 'Three Colors: Blue'
 "Rosemary's Baby" 'Mystic River' 'Serenity' 'Amarcord'
 'Planet of the Apes' 'True Romance' 'Hannah and Her Sisters' 'Moon'
 'Before Midnight' 'My Name Is Khan' 'Scent of a Woman' 'Mulholland Dr.'
 'King Kong' 'The Fault in Our Stars' 'The Incredibles'
 'Edward Scissorhands' 'Casino Royale' 'How to Train Your Dragon 2'
 'In Bruges' 'The Untouchables' 'Breathless' 'Spartacus' 'The Iron Giant'
 'Midnight Cowboy' 'The Blues Brothers' 'Freaks' 'Letters from Iwo Jima'
 'Edge of Tomorrow' 'Glory' 'The African Queen'
 'Birdman: Or (The Unexpected Virtue of Ignorance)' 'Big Hero 6'
 'Almost Famous' 'The Notebook' 'The Conversation' 'The Breakfast Club'
 'The Pursuit of Happyness' 'The Killer' 'Once' 'Ying xiong'
 'The Remains of the Day' 'The Bride of Frankenstein' 'The Wrestler'
 'Nightcrawler' 'Gravity' 'Hard Boiled' 'Bonnie and Clyde'
 'The Bourne Identity' 'Key Largo' 'Nine Queens' 'Toy Story 2'
 'The Killing Fields' 'All About My Mother' 'Cowboy Bebop: The Movie'
 'Ed Wood' 'Stagecoach' 'The Man Who Would Be King'
 'The Outlaw Josey Wales' 'Children of Men' 'The Insider'
 'The Right Stuff' 'Badlands' 'A Prophet' '4 Months, 3 Weeks and 2 Days'
 'Le passe' 'The Fall' 'Breaking the Waves' 'Mr. Nobody' 'Crash' 'Avatar'
 'Iron Man' 'Do the Right Thing' "Carlito's Way"
 'Crouching Tiger, Hidden Dragon' 'Lilya 4-Ever' 'The Chorus'
 'The Boondock Saints' "Miller's Crossing" 'Walk the Line' 'Shrek'
 'My Fair Lady' 'The Ten Commandments' 'The Fighter' 'Captain Phillips'
 'Cabaret' 'Halloween' 'My Left Foot' 'Miracle on 34th Street'
 'The Man from Nowhere' 'Toki o kakeru shojo' 'Little Miss Sunshine'
 'Taken' 'Blue Is the Warmest Color' 'Boogie Nights' 'Hot Fuzz'
 "Ferris Bueller's Day Off" "The World's Fastest Indian"
 "Kiki's Delivery Service" 'Down by Law' 'Glengarry Glen Ross' 'Clerks'
 "Adam's Apples" 'The Girl with the Dragon Tattoo' 'The 39 Steps'
 'E.T. the Extra-Terrestrial' 'Tombstone' 'Predator' 'Tangled'
 "Guess Who's Coming to Dinner" 'Ordinary People' 'The Best Offer'
 'Silver Linings Playbook' 'Hamlet' 'Amour' 'I Saw the Devil'
 'The Motorcycle Diaries' 'Office Space' 'Evil' 'Withnail & I'
 'The Day the Earth Stood Still' 'Black Book' 'Evil Dead II'
 'Kaze tachinu' 'Star Trek Into Darkness' 'The Triplets of Belleville'
 'Open Your Eyes' 'The Magnificent Seven' 'Drive' 'Mississippi Burning'
 'The Lego Movie' 'The Day of the Jackal' 'Misery'
 'Willy Wonka & the Chocolate Factory' 'Fantasia' 'Gattaca'
 'American Gangster' 'Porco Rosso' 'The French Connection'
 'The Boy in the Striped Pajamas' 'Empire of the Sun' 'About Time'
 'Blue Velvet' 'In America' 'The Curious Case of Benjamin Button'
 'The Last of the Mohicans' 'Moonrise Kingdom' 'Rebel Without a Cause'
 'Fantastic Mr. Fox' 'Invasion of the Body Snatchers' 'October Sky'
 'Dirty Harry' 'Ghostbusters' 'Captain America: The Winter Soldier'
 'Wreck-It Ralph' 'The Hangover' 'Back to the Future Part II'
 'Belle de Jour' 'O Brother, Where Art Thou?' 'Repulsion' 'Airplane!'
 'Pride & Prejudice' 'Zulu' 'Night on Earth' 'From Here to Eternity'
 'Apocalypto' 'Atonement' 'The Dirty Dozen' 'X-Men: First Class'
 'Run Lola Run' 'The Longest Day' 'Zelig' 'The Last Emperor' 'The Goonies'
 'The White Ribbon' 'The Fugitive' 'The Color Purple'
 'South Park: Bigger Longer & Uncut' '(500) Days of Summer'
 'Lost in Translation' 'Argo' 'Blazing Saddles' "Breakfast at Tiffany's"
 'Finding Neverland' 'The Experiment' 'Lucky Number Slevin'
 'The Theory of Everything' 'Harry Potter and the Prisoner of Azkaban'
 'Kung Fu Hustle' 'Being John Malkovich' 'The Social Network'
 '3:10 to Yuma' 'The Name of the Rose' 'Mary Poppins' 'The Game'
 'Changeling' 'Donnie Brasco' 'Serpico' "What's Eating Gilbert Grape"
 'Goldfinger' 'Nebraska' 'The Sandlot' 'Boyz n the Hood'
 'The Bourne Supremacy' 'Skyfall' 'Ray' '300' 'A Bronx Tale' 'The Birds'
 'Battle Royale' 'Control' 'Kramer vs. Kramer' 'Deliverance'
 "Ocean's Eleven" 'As Good as It Gets' 'Awakenings' 'The King of Comedy'
 'Man on Fire' 'Sabrina' 'Dark City' 'Good Bye Lenin!'
 'Remember the Titans' 'Star Trek II: The Wrath of Khan'
 'Road to Perdition' 'Rushmore' 'The Machinist' 'Flipped'
 'The Count of Monte Cristo' 'Detachment' 'Love Me If You Dare' 'Dead Man'
 'The Purple Rose of Cairo' '21 Grams' '50/50' 'Kick-Ass' 'Delicatessen'
 'Barton Fink' 'The Last King of Scotland' 'Adaptation.'
 'A Very Long Engagement' 'Mysterious Skin' 'Stardust' 'Black Hawk Down'
 'Paprika' 'Fear and Loathing in Las Vegas' 'Frost/Nixon'
 'Enter the Dragon' 'Short Cuts' "A Hard Day's Night" 'The Last Samurai'
 'The Station Agent' 'Zombieland' 'Sympathy for Mr. Vengeance'
 'Despicable Me' 'Shane' 'Forbidden Planet' 'Titanic' 'Gone Baby Gone'
 'The Dinner Game' 'Dawn of the Planet of the Apes' '25th Hour' 'Ponyo'
 'Shine' 'The Blind Side' 'Brokeback Mountain' 'Cast Away' 'Malcolm X'
 'Show Me Love' 'Boy A' 'The Warriors'
 'Close Encounters of the Third Kind' 'Match Point' 'Training Day'
 'The Butterfly Effect' 'The City of Lost Children' 'Billy Elliot'
 'Love Actually' 'The Producers'
 'Harry Potter and the Deathly Hallows: Part 1' 'The Visitor'
 'Philadelphia' 'Sense and Sensibility' 'Three Colors: White'
 'La grande bellezza' 'Primal Fear' 'Where Eagles Dare'
 'Dazed and Confused' 'Blood Simple.' 'This Is England' 'Fearless'
 'Dangerous Liaisons' 'Saw' 'Snow White and the Seven Dwarfs' 'Coraline'
 'The Hunger Games: Catching Fire' "Sophie's Choice" 'La Vie en Rose'
 'Star Wars: Episode III - Revenge of the Sith' 'True Grit' 'After Hours'
 'Frozen' 'Lolita' 'Eastern Promises' 'Midnight in Paris'
 'The Muppet Christmas Carol' 'Who Framed Roger Rabbit'
 'Sympathy for Lady Vengeance' 'Grindhouse' 'In a Better World' 'Blow-Up'
 'The Secret World of Arrietty' 'Kiss Kiss Bang Bang' 'Lost Highway'
 'Zodiac' 'Les Miserables' 'Moulin Rouge!' 'Whale Rider' 'End of Watch'
 'Philomena' 'Fury' 'The Big Blue' 'First Blood' 'Minority Report'
 'Spellbound' 'The Wicker Man' 'Seven Pounds' 'Midnight Express'
 "Kelly's Heroes" 'MASH' 'The Player' 'Traffic' 'Y Tu Mama Tambien'
 'Stranger Than Fiction' 'Inside Man' '127 Hours' 'The Fifth Element'
 'Milk' 'United 93' 'Jin ling shi san chai' 'Dracula'
 'High Plains Drifter' 'I Am Sam' 'Fried Green Tomatoes' 'Watchmen'
 '28 Days Later...' 'The Illusionist' 'Superbad' 'The Godfather: Part III'
 'The Royal Tenenbaums' 'The Jungle Book' 'Thank You for Smoking'
 'Man Bites Dog' 'A Few Good Men' 'The Legend of Drunken Master'
 'The Kite Runner' 'When Harry Met Sally...' 'Munich'
 'House of Sand and Fog' 'Lethal Weapon' 'Animal House' 'Lord of War'
 'Blow' 'Sherlock Holmes' 'Harry Potter and the Goblet of Fire'
 'La piel que habito' 'The Crow' 'West Side Story' 'The Thin Red Line'
 'American Psycho' 'The Blind Swordsman: Zatoichi'
 'The Last Temptation of Christ'
 'The Naked Gun: From the Files of Police Squad!' 'The Others' 'The Party'
 'Army of Darkness' 'The Hurt Locker' 'The Raid: Redemption' 'Volver'
 'Following' 'Kung Fu Panda' 'Mad Max 2: The Road Warrior'
 'Jusan-nin no shikaku' "The Man Who Wasn't There" 'The Counterfeiters'
 'The Hunt for Red October' 'Lone Survivor' 'A Fish Called Wanda'
 'The Impossible' 'Garden State' 'Escape from Alcatraz' 'Apollo 13'
 'Lust, Caution' 'Selma' 'Funny Games' 'The Abyss' 'Robin Hood'
 'Enemy at the Gates' 'Falling Down' 'Little Children' 'Hunger'
 'Indiana Jones and the Temple of Doom' 'Ip Man 2' 'The Little Mermaid'
 "It's a Mad, Mad, Mad, Mad World" 'The Reader' 'The Omen'
 'A Royal Affair' 'Braindead' 'Secondhand Lions' 'Disconnect'
 'A Single Man' 'Hoosiers' 'Moneyball' 'The Book Thief'
 'Die Hard: With a Vengeance'
 'Interview with the Vampire: The Vampire Chronicles' 'Midnight Run'
 'An American Werewolf in London' 'The Great Debaters'
 'Tucker and Dale vs. Evil' 'Dead Man Walking' 'The Piano' 'The Town'
 'Rise of the Planet of the Apes' "Boys Don't Cry" 'Ice Age'
 'Of Mice and Men' 'Sideways' 'High Fidelity' 'The Meaning of Life' 'Hugo'
 'Leaving Las Vegas' 'The Evil Dead' 'Collateral'
 'Planes, Trains & Automobiles' 'Hodejegerne' 'Field of Dreams' 'Batman'
 'Tell No One' 'Ghost Dog: The Way of the Samurai' 'Chaplin' 'Keith'
 'Juno' 'The Assassination of Jesse James by the Coward Robert Ford'
 'The Fisher King' 'House of Flying Daggers' 'The Hours'
 'The Damned United' 'Star Trek: First Contact' 'The Natural'
 'The Hobbit: The Battle of the Five Armies' 'Equilibrium' 'August Rush'
 'Saving Mr. Banks' 'The Hurricane' "Jacob's Ladder"
 'The Curse of the Were-Rabbit' 'Christmas Vacation'
 'Good Night, and Good Luck.' 'Straw Dogs' '42' 'Rudy' 'Sleepers'
 'The Wind That Shakes the Barley' 'Gangs of New York' 'Elizabeth'
 'Green Street Hooligans' 'Reign Over Me' 'RoboCop'
 'The Life of David Gale' 'Life as a House' 'Despicable Me 2'
 'Jackie Brown' 'Menace II Society' 'The Class' 'Bullets Over Broadway'
 'American Splendor' 'Perfume: The Story of a Murderer' 'Cloud Atlas'
 'Marathon Man' 'Pinocchio' 'The Painted Veil' 'A Simple Plan'
 'The Conjuring' 'The Man Who Knew Too Much' 'Quiz Show'
 'American Graffiti' 'The Bridges of Madison County' 'Gallipoli'
 "L'illusionniste" 'Miracle' 'Maria Full of Grace'
 'Scott Pilgrim vs. the World' 'Pleasantville'
 'Sherlock Holmes: A Game of Shadows' 'Doubt' 'The Fly' 'The Orphanage'
 'Malena' 'Three Days of the Condor' '[Rec]' 'A Perfect World'
 'To Catch a Thief' 'Best in Show' 'Everything Is Illuminated'
 'A Nightmare on Elm Street' 'The Ice Storm' 'X2'
 'We Need to Talk About Kevin' 'Felon' 'Still Alice' 'Rust and Bone'
 'Freedom Writers' 'Legends of the Fall' "Buffalo '66"
 'The Constant Gardener' 'My Cousin Vinny' 'The Texas Chain Saw Massacre'
 'Mulan' 'A History of Violence' 'Open Range' 'Total Recall' 'Pi'
 "The Devil's Backbone" 'The Aviator' "Devil's Advocate"
 'The Adventures of Priscilla, Queen of the Desert'
 'Harry Potter and the Half-Blood Prince' 'Fruitvale Station'
 'In the Bedroom' 'Source Code' 'Biutiful' 'From Russia with Love'
 'Calvary' 'The Mission' 'In the Loop'
 'The Three Burials of Melquiades Estrada' 'Babel' 'Frenzy'
 'Heavenly Creatures' 'Sweeney Todd: The Demon Barber of Fleet Street'
 'Looper' 'The Proposition' 'Bullitt'
 "Harry Potter and the Sorcerer's Stone" '2046' 'Transamerica' 'Smoke'
 'Suspiria' 'The Judge' 'Bad Education' 'Up in the Air' 'Begin Again'
 'Running Scared' 'Ghost World' 'Witness' 'Trading Places' 'Mud'
 'Across the Universe' 'Notes on a Scandal' 'Inside Llewyn Davis' 'Brick'
 'Clerks II' 'Say Anything...' 'Man on the Moon' 'Mean Streets'
 'Harry Potter and the Order of the Phoenix' 'Beetlejuice'
 'Crazy, Stupid, Love.' 'Excalibur' 'Labyrinth' 'Alice in Wonderland'
 'Predestination' 'Much Ado About Nothing' 'A Bridge Too Far'
 'Raising Arizona' 'The Bucket List' 'Terms of Endearment' 'Take Shelter'
 'Far from Heaven' 'Eraserhead' 'Frances Ha' 'Home Alone' 'Bound'
 'Sleepy Hollow' 'Pirate Radio' 'The NeverEnding Story' 'X-Men'
 'Zero Dark Thirty' 'Manhattan Murder Mystery'
 "National Lampoon's Vacation" "My Sister's Keeper" 'Deconstructing Harry'
 'The Way Way Back' 'Capote' 'Driving Miss Daisy' 'La Femme Nikita'
 'Lincoln' 'Limitless' 'The Simpsons Movie' 'The Rock'
 'The English Patient' 'Law Abiding Citizen' 'Wonder Boys'
 'Death at a Funeral' 'Blue Valentine' 'The Cider House Rules' 'Tootsie'
 'Back to the Future Part III'
 'Master and Commander: The Far Side of the World' 'Poltergeist'
 'Wall Street']

x >> content_rating

['R' 'PG-13' 'NOT RATED' 'PG' 'UNRATED' 'APPROVED' 'PASSED' 'G' 'X' nan
 'TV-MA' 'GP' 'NC-17']

x >> genre

['Crime' 'Action' 'Drama' 'Western' 'Adventure' 'Biography' 'Comedy'
 'Animation' 'Mystery' 'Horror' 'Film-Noir' 'Sci-Fi' 'History' 'Thriller'
 'Family' 'Fantasy']

x >> duration

[142 175 200 152 154  96 161 201 195 139 178 148 124 179 169 133 207 146
 121 136 130 106 127 116 118 110  87 125 112 102 107 119 115 109 189 150
 165 155 137 113  95 151 153  89 117  88 170  99  98 156 122 149 134 157
 123 128 120 229 103 177 129 216  93  68 108 181 138 160 126  91 143 132
 183 140  81 131 172 162  86 186 224 180 105 238 182  92 100 135  94  83
 163 167 188 111 101 212 114 158 191 147 174  85 184  67 141 104  80  84
 145  76  82 197  66 144  70  90  97  64  75 193 159 220 242  78 166  79
 187 194 202 168 164  69 205]

x >> actors_list

["[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton']"
 "[u'Marlon Brando', u'Al Pacino', u'James Caan']"
 "[u'Al Pacino', u'Robert De Niro', u'Robert Duvall']"
 "[u'Christian Bale', u'Heath Ledger', u'Aaron Eckhart']"
 "[u'John Travolta', u'Uma Thurman', u'Samuel L. Jackson']"
 "[u'Henry Fonda', u'Lee J. Cobb', u'Martin Balsam']"
 "[u'Clint Eastwood', u'Eli Wallach', u'Lee Van Cleef']"
 "[u'Elijah Wood', u'Viggo Mortensen', u'Ian McKellen']"
 "[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kingsley']"
 "[u'Brad Pitt', u'Edward Norton', u'Helena Bonham Carter']"
 "[u'Elijah Wood', u'Ian McKellen', u'Orlando Bloom']"
 "[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt', u'Ellen Page']"

In [20]:
df.genre.value_counts()

Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Sci-Fi         5
Thriller       5
Film-Noir      3
Family         2
History        1
Fantasy        1
Name: genre, dtype: int64

In [21]:
df.content_rating.value_counts()

R            460
PG-13        189
PG           123
NOT RATED     65
APPROVED      47
UNRATED       38
G             32
PASSED         7
NC-17          7
X              4
GP             3
TV-MA          1
Name: content_rating, dtype: int64

# groupby

In [22]:
df.groupby('genre')

In [23]:
from termcolor import colored


for genre,subdf in df.groupby('genre'):
    print(colored(genre,color='red',attrs=['bold']))
    display(subdf)

Action

,star_rating,title,content_rating,genre,duration,actors_list
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
...,...,...,...,...,...,...
918,7.5,Running Scared,R,Action,122,"[u'Paul Walker', u'Cameron Bright', u'Chazz Pa..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."

Adventure

,star_rating,title,content_rating,genre,duration,actors_list
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort..."
15,8.7,Interstellar,PG-13,Adventure,169,"[u'Matthew McConaughey', u'Anne Hathaway', u'J..."
54,8.5,Back to the Future,PG,Adventure,116,"[u'Michael J. Fox', u'Christopher Lloyd', u'Le..."
...,...,...,...,...,...,...
936,7.4,True Grit,NaN,Adventure,128,"[u'John Wayne', u'Kim Darby', u'Glen Campbell']"
937,7.4,Labyrinth,PG,Adventure,101,"[u'David Bowie', u'Jennifer Connelly', u'Toby ..."
943,7.4,The Bucket List,PG-13,Adventure,97,"[u'Jack Nicholson', u'Morgan Freeman', u'Sean ..."
953,7.4,The NeverEnding Story,PG,Adventure,102,"[u'Noah Hathaway', u'Barret Oliver', u'Tami St..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."

Animation

,star_rating,title,content_rating,genre,duration,actors_list
30,8.6,Spirited Away,PG,Animation,125,"[u'Daveigh Chase', u'Suzanne Pleshette', u'Miy..."
55,8.5,The Lion King,G,Animation,89,"[u'Matthew Broderick', u'Jeremy Irons', u'Jame..."
61,8.5,Grave of the Fireflies,UNRATED,Animation,89,"[u'Tsutomu Tatsumi', u'Ayano Shiraishi', u'Ake..."
64,8.4,WALL-E,G,Animation,98,"[u'Ben Burtt', u'Elissa Knight', u'Jeff Garlin']"
69,8.4,Princess Mononoke,PG-13,Animation,134,"[u'Y\xf4ji Matsuda', u'Yuriko Ishida', u'Y\xfb..."
...,...,...,...,...,...,...
844,7.5,Pinocchio,APPROVED,Animation,88,"[u'Dickie Jones', u'Christian Rub', u'Mel Blanc']"
853,7.5,L'illusionniste,PG,Animation,80,"[u'Jean-Claude Donda', u'Eilidh Rankin', u'Dun..."
882,7.5,Mulan,G,Animation,88,"[u'Ming-Na Wen', u'Eddie Murphy', u'BD Wong']"
938,7.4,Alice in Wonderland,G,Animation,75,"[u'Kathryn Beaumont', u'Ed Wynn', u'Richard Ha..."
966,7.4,The Simpsons Movie,PG-13,Animation,87,"[u'Dan Castellaneta', u'Julie Kavner', u'Nancy..."

Biography

,star_rating,title,content_rating,genre,duration,actors_list
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
18,8.7,Goodfellas,R,Biography,146,"[u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']"
31,8.6,The Intouchables,R,Biography,112,"[u'Fran\xe7ois Cluzet', u'Omar Sy', u'Anne Le ..."
42,8.5,The Pianist,R,Biography,150,"[u'Adrien Brody', u'Thomas Kretschmann', u'Fra..."
99,8.4,Amadeus,R,Biography,160,"[u'F. Murray Abraham', u'Tom Hulce', u'Elizabe..."
...,...,...,...,...,...,...
892,7.5,Fruitvale Station,R,Biography,85,"[u'Michael B. Jordan', u'Melonie Diaz', u'Octa..."
903,7.5,Heavenly Creatures,R,Biography,99,"[u'Melanie Lynskey', u'Kate Winslet', u'Sarah ..."
930,7.4,Man on the Moon,R,Biography,118,"[u'Jim Carrey', u'Danny DeVito', u'Gerry Becker']"
961,7.4,Capote,R,Biography,114,"[u'Philip Seymour Hoffman', u'Clifton Collins ..."
964,7.4,Lincoln,PG-13,Biography,150,"[u'Daniel Day-Lewis', u'Sally Field', u'David ..."

Comedy

,star_rating,title,content_rating,genre,duration,actors_list
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G..."
29,8.6,City Lights,PASSED,Comedy,87,"[u'Charles Chaplin', u'Virginia Cherrill', u'F..."
35,8.6,Modern Times,G,Comedy,87,"[u'Charles Chaplin', u'Paulette Goddard', u'He..."
48,8.5,Dr. Strangelove or: How I Learned to Stop Worr...,PG,Comedy,95,"[u'Peter Sellers', u'George C. Scott', u'Sterl..."
52,8.5,The Great Dictator,APPROVED,Comedy,125,"[u'Charles Chaplin', u'Paulette Goddard', u'Ja..."
...,...,...,...,...,...,...
959,7.4,Deconstructing Harry,R,Comedy,96,"[u'Woody Allen', u'Judy Davis', u'Julia Louis-..."
960,7.4,The Way Way Back,PG-13,Comedy,103,"[u'Steve Carell', u'Toni Collette', u'Allison ..."
962,7.4,Driving Miss Daisy,PG,Comedy,99,"[u'Morgan Freeman', u'Jessica Tandy', u'Dan Ay..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."

Crime

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
...,...,...,...,...,...,...
927,7.5,Brick,R,Crime,110,"[u'Joseph Gordon-Levitt', u'Lukas Haas', u'Emi..."
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

Drama

,star_rating,title,content_rating,genre,duration,actors_list
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
...,...,...,...,...,...,...
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."

Family

,star_rating,title,content_rating,genre,duration,actors_list
468,7.9,E.T. the Extra-Terrestrial,PG,Family,115,"[u'Henry Thomas', u'Drew Barrymore', u'Peter C..."
497,7.8,Willy Wonka & the Chocolate Factory,G,Family,100,"[u'Gene Wilder', u'Jack Albertson', u'Peter Os..."

Fantasy

,star_rating,title,content_rating,genre,duration,actors_list
638,7.7,The City of Lost Children,R,Fantasy,112,"[u'Ron Perlman', u'Daniel Emilfork', u'Judith ..."

Film-Noir

,star_rating,title,content_rating,genre,duration,actors_list
105,8.3,The Third Man,NOT RATED,Film-Noir,93,"[u'Orson Welles', u'Joseph Cotten', u'Alida Va..."
210,8.1,Laura,APPROVED,Film-Noir,88,"[u'Gene Tierney', u'Dana Andrews', u'Clifton W..."
687,7.7,Spellbound,UNRATED,Film-Noir,111,"[u'Ingrid Bergman', u'Gregory Peck', u'Michael..."

History

,star_rating,title,content_rating,genre,duration,actors_list
338,8.0,Battleship Potemkin,UNRATED,History,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G..."

Horror

,star_rating,title,content_rating,genre,duration,actors_list
39,8.6,Psycho,R,Horror,109,"[u'Anthony Perkins', u'Janet Leigh', u'Vera Mi..."
57,8.5,Alien,R,Horror,117,"[u'Sigourney Weaver', u'Tom Skerritt', u'John ..."
62,8.5,The Shining,R,Horror,146,"[u'Jack Nicholson', u'Shelley Duvall', u'Danny..."
161,8.2,Diabolique,UNRATED,Horror,116,"[u'Simone Signoret', u'V\xe9ra Clouzot', u'Pau..."
186,8.2,The Thing,R,Horror,109,"[u'Kurt Russell', u'Wilford Brimley', u'Keith ..."
317,8.0,Dawn of the Dead,UNRATED,Horror,127,"[u'David Emge', u'Ken Foree', u'Scott H. Reini..."
322,8.0,The Exorcist,R,Horror,122,"[u'Ellen Burstyn', u'Max von Sydow', u'Linda B..."
330,8.0,Nosferatu,UNRATED,Horror,81,"[u'Max Schreck', u'Greta Schr\xf6der', u'Ruth ..."
351,8.0,Frankenstein,UNRATED,Horror,70,"[u'Colin Clive', u'Mae Clarke', u'Boris Karloff']"
353,8.0,Night of the Living Dead,UNRATED,Horror,96,"[u'Duane Jones', u""Judith O'Dea"", u'Karl Hardm..."
405,7.9,The Bride of Frankenstein,NOT RATED,Horror,75,"[u'Boris Karloff', u'Elsa Lanchester', u'Colin..."
513,7.8,Invasion of the Body Snatchers,APPROVED,Horror,80,"[u'Kevin McCarthy', u'Dana Wynter', u'Larry Ga..."
572,7.8,The Birds,PG-13,Horror,119,"[u'Rod Taylor', u'Tippi Hedren', u'Suzanne Ple..."
655,7.7,Saw,R,Horror,103,"[u'Cary Elwes', u'Leigh Whannell', u'Danny Glo..."
688,7.7,The Wicker Man,R,Horror,88,"[u'Edward Woodward', u'Christopher Lee', u'Dia..."
703,7.6,Dracula,APPROVED,Horror,85,"[u'Bela Lugosi', u'Helen Chandler', u'David Ma..."
708,7.6,28 Days Later...,R,Horror,113,"[u'Cillian Murphy', u'Naomie Harris', u'Christ..."
736,7.6,The Others,PG-13,Horror,104,"[u'Nicole Kidman', u'Christopher Eccleston', u..."
769,7.6,The Omen,R,Horror,111,"[u'Gregory Peck', u'Lee Remick', u'Harvey Step..."
779,7.6,Interview with the Vampire: The Vampire Chroni...,R,Horror,123,"[u'Brad Pitt', u'Tom Cruise', u'Antonio Bander..."
796,7.6,The Evil Dead,NC-17,Horror,85,"[u'Bruce Campbell', u'Ellen Sandweiss', u'Rich..."
847,7.5,The Conjuring,R,Horror,112,"[u'Patrick Wilson', u'Vera Farmiga', u'Ron Liv..."
860,7.5,The Fly,R,Horror,96,"[u'Jeff Goldblum', u'Geena Davis', u'John Getz']"
864,7.5,[Rec],R,Horror,78,"[u'Manuela Velasco', u'Ferran Terraza', u'Jorg..."
869,7.5,A Nightmare on Elm Street,R,Horror,91,"[u'Heather Langenkamp', u'Johnny Depp', u'Robe..."
881,7.5,The Texas Chain Saw Massacre,R,Horror,83,"[u'Marilyn Burns', u'Edwin Neal', u'Allen Danz..."
905,7.5,Dracula,R,Horror,128,"[u'Gary Oldman', u'Winona Ryder', u'Anthony Ho..."
913,7.5,Suspiria,X,Horror,92,"[u'Jessica Harper', u'Stefania Casini', u'Flav..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."

Mystery

,star_rating,title,content_rating,genre,duration,actors_list
38,8.6,Rear Window,APPROVED,Mystery,112,"[u'James Stewart', u'Grace Kelly', u'Wendell C..."
46,8.5,Memento,R,Mystery,113,"[u'Guy Pearce', u'Carrie-Anne Moss', u'Joe Pan..."
76,8.4,Vertigo,APPROVED,Mystery,128,"[u'James Stewart', u'Kim Novak', u'Barbara Bel..."
110,8.3,2001: A Space Odyssey,G,Mystery,160,"[u'Keir Dullea', u'Gary Lockwood', u'William S..."
149,8.2,Rebecca,NOT RATED,Mystery,130,"[u'Laurence Olivier', u'Joan Fontaine', u'Geor..."
244,8.1,Shutter Island,R,Mystery,138,"[u'Leonardo DiCaprio', u'Emily Mortimer', u'Ma..."
249,8.1,Sleuth,PG,Mystery,138,"[u'Laurence Olivier', u'Michael Caine', u'Alec..."
264,8.1,Twelve Monkeys,R,Mystery,129,"[u'Bruce Willis', u'Madeleine Stowe', u'Brad P..."
292,8.1,The Manchurian Candidate,APPROVED,Mystery,126,"[u'Frank Sinatra', u'Laurence Harvey', u'Janet..."
467,7.9,The 39 Steps,UNRATED,Mystery,86,"[u'Robert Donat', u'Madeleine Carroll', u'Luci..."
583,7.8,Dark City,R,Mystery,100,"[u'Rufus Sewell', u'Kiefer Sutherland', u'Jenn..."
742,7.6,Following,R,Mystery,69,"[u'Jeremy Theobald', u'Alex Haw', u'Lucy Russe..."
863,7.5,Three Days of the Condor,R,Mystery,117,"[u'Robert Redford', u'Faye Dunaway', u'Cliff R..."
866,7.5,To Catch a Thief,APPROVED,Mystery,106,"[u'Cary Grant', u'Grace Kelly', u'Jessie Royce..."
894,7.5,Source Code,PG-13,Mystery,93,"[u'Jake Gyllenhaal', u'Michelle Monaghan', u'V..."
965,7.4,Limitless,PG-13,Mystery,105,"[u'Bradley Cooper', u'Anna Friel', u'Abbie Cor..."

Sci-Fi

,star_rating,title,content_rating,genre,duration,actors_list
145,8.2,Blade Runner,R,Sci-Fi,117,"[u'Harrison Ford', u'Rutger Hauer', u'Sean You..."
321,8.0,Brazil,R,Sci-Fi,132,"[u'Jonathan Pryce', u'Kim Greist', u'Robert De..."
408,7.9,Gravity,PG-13,Sci-Fi,91,"[u'Sandra Bullock', u'George Clooney', u'Ed Ha..."
484,7.8,The Day the Earth Stood Still,APPROVED,Sci-Fi,92,"[u'Michael Rennie', u'Patricia Neal', u'Hugh M..."
637,7.7,The Butterfly Effect,R,Sci-Fi,113,"[u'Ashton Kutcher', u'Amy Smart', u'Melora Wal..."

Thriller

,star_rating,title,content_rating,genre,duration,actors_list
350,8.0,Shadow of a Doubt,APPROVED,Thriller,108,"[u'Teresa Wright', u'Joseph Cotten', u'Macdona..."
496,7.8,Misery,R,Thriller,107,"[u'James Caan', u'Kathy Bates', u'Richard Farn..."
728,7.6,La piel que habito,R,Thriller,120,"[u'Antonio Banderas', u'Elena Anaya', u'Jan Co..."
848,7.5,The Man Who Knew Too Much,PG,Thriller,120,"[u'James Stewart', u'Doris Day', u'Brenda de B..."
902,7.5,Frenzy,R,Thriller,116,"[u'Jon Finch', u'Barry Foster', u'Alec McCowen']"

Western

,star_rating,title,content_rating,genre,duration,actors_list
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia..."
59,8.5,Django Unchained,R,Western,165,"[u'Jamie Foxx', u'Christoph Waltz', u'Leonardo..."
107,8.3,For a Few Dollars More,APPROVED,Western,132,"[u'Clint Eastwood', u'Lee Van Cleef', u'Gian M..."
119,8.3,Unforgiven,R,Western,131,"[u'Clint Eastwood', u'Gene Hackman', u'Morgan ..."
236,8.1,High Noon,PG,Western,85,"[u'Gary Cooper', u'Grace Kelly', u'Thomas Mitc..."
263,8.1,Rio Bravo,NOT RATED,Western,141,"[u'John Wayne', u'Dean Martin', u'Ricky Nelson']"
421,7.9,The Outlaw Josey Wales,PG,Western,135,"[u'Clint Eastwood', u'Sondra Locke', u'Chief D..."
704,7.6,High Plains Drifter,R,Western,105,"[u'Clint Eastwood', u'Verna Bloom', u'Marianna..."

In [24]:
df.groupby('genre').first()

,star_rating,title,content_rating,duration,actors_list
genre,,,,,
Action,9.0,The Dark Knight,PG-13,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
Adventure,8.9,The Lord of the Rings: The Return of the King,PG-13,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
Animation,8.6,Spirited Away,PG,125,"[u'Daveigh Chase', u'Suzanne Pleshette', u'Miy..."
Biography,8.9,Schindler's List,R,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
Comedy,8.6,Life Is Beautiful,PG-13,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G..."
Crime,9.3,The Shawshank Redemption,R,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
Drama,8.9,12 Angry Men,NOT RATED,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
Family,7.9,E.T. the Extra-Terrestrial,PG,115,"[u'Henry Thomas', u'Drew Barrymore', u'Peter C..."
Fantasy,7.7,The City of Lost Children,R,112,"[u'Ron Perlman', u'Daniel Emilfork', u'Judith ..."
Film-Noir,8.3,The Third Man,NOT RATED,93,"[u'Orson Welles', u'Joseph Cotten', u'Alida Va..."
History,8.0,Battleship Potemkin,UNRATED,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G..."
Horror,8.6,Psycho,R,109,"[u'Anthony Perkins', u'Janet Leigh', u'Vera Mi..."
Mystery,8.6,Rear Window,APPROVED,112,"[u'James Stewart', u'Grace Kelly', u'Wendell C..."
Sci-Fi,8.2,Blade Runner,R,117,"[u'Harrison Ford', u'Rutger Hauer', u'Sean You..."
Thriller,8.0,Shadow of a Doubt,APPROVED,108,"[u'Teresa Wright', u'Joseph Cotten', u'Macdona..."
Western,8.9,"The Good, the Bad and the Ugly",NOT RATED,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."

In [25]:
df.groupby('genre').last()

,star_rating,title,content_rating,duration,actors_list
genre,,,,,
Action,7.4,Master and Commander: The Far Side of the World,PG-13,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
Adventure,7.4,Back to the Future Part III,PG,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
Animation,7.4,The Simpsons Movie,PG-13,87,"[u'Dan Castellaneta', u'Julie Kavner', u'Nancy..."
Biography,7.4,Lincoln,PG-13,150,"[u'Daniel Day-Lewis', u'Sally Field', u'David ..."
Comedy,7.4,Tootsie,PG,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
Crime,7.4,Wall Street,R,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."
Drama,7.4,The Cider House Rules,PG-13,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
Family,7.8,Willy Wonka & the Chocolate Factory,G,100,"[u'Gene Wilder', u'Jack Albertson', u'Peter Os..."
Fantasy,7.7,The City of Lost Children,R,112,"[u'Ron Perlman', u'Daniel Emilfork', u'Judith ..."
Film-Noir,7.7,Spellbound,UNRATED,111,"[u'Ingrid Bergman', u'Gregory Peck', u'Michael..."
History,8.0,Battleship Potemkin,UNRATED,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G..."
Horror,7.4,Poltergeist,PG,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
Mystery,7.4,Limitless,PG-13,105,"[u'Bradley Cooper', u'Anna Friel', u'Abbie Cor..."
Sci-Fi,7.7,The Butterfly Effect,R,113,"[u'Ashton Kutcher', u'Amy Smart', u'Melora Wal..."
Thriller,7.5,Frenzy,R,116,"[u'Jon Finch', u'Barry Foster', u'Alec McCowen']"
Western,7.6,High Plains Drifter,R,105,"[u'Clint Eastwood', u'Verna Bloom', u'Marianna..."

In [26]:
df.groupby('genre').get_group('Adventure')

,star_rating,title,content_rating,genre,duration,actors_list
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort..."
15,8.7,Interstellar,PG-13,Adventure,169,"[u'Matthew McConaughey', u'Anne Hathaway', u'J..."
54,8.5,Back to the Future,PG,Adventure,116,"[u'Michael J. Fox', u'Christopher Lloyd', u'Le..."
...,...,...,...,...,...,...
936,7.4,True Grit,NaN,Adventure,128,"[u'John Wayne', u'Kim Darby', u'Glen Campbell']"
937,7.4,Labyrinth,PG,Adventure,101,"[u'David Bowie', u'Jennifer Connelly', u'Toby ..."
943,7.4,The Bucket List,PG-13,Adventure,97,"[u'Jack Nicholson', u'Morgan Freeman', u'Sean ..."
953,7.4,The NeverEnding Story,PG,Adventure,102,"[u'Noah Hathaway', u'Barret Oliver', u'Tami St..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."

In [27]:
df.groupby('genre').get_group('Adventure')['genre'].unique()

array(['Adventure'], dtype=object)

In [28]:
df.groupby('content_rating').get_group('R')

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
...,...,...,...,...,...,...
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [29]:
df.groupby(['content_rating','genre']).get_group(('R','Crime'))

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
...,...,...,...,...,...,...
927,7.5,Brick,R,Crime,110,"[u'Joseph Gordon-Levitt', u'Lukas Haas', u'Emi..."
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [30]:
df.groupby(['content_rating','genre']).sum().reset_index()

   content_rating      genre  star_rating  duration
0        APPROVED     Action         22.9       430
1        APPROVED  Adventure         24.3       475
2        APPROVED  Animation         22.8       254
3        APPROVED  Biography          7.9       111
4        APPROVED     Comedy         72.8       975
..            ...        ...          ...       ...
90        UNRATED    Mystery          7.9        86
91              X     Comedy          7.8        84
92              X      Crime          8.4       136
93              X      Drama          8.0       113
94              X     Horror          7.5        92

[95 rows x 4 columns]

In [31]:
df.groupby(['content_rating','genre'])['duration'].sum()

content_rating  genre
APPROVED        Action       430
                Adventure    475
                Animation    254
                Biography    111
                Comedy       975
                            ...
UNRATED         Mystery       86
X               Comedy        84
                Crime        136
                Drama        113
                Horror        92
Name: duration, Length: 95, dtype: int64

In [32]:
df.groupby(['content_rating','genre'])['duration'].sum().reset_index()

   content_rating      genre  duration
0        APPROVED     Action       430
1        APPROVED  Adventure       475
2        APPROVED  Animation       254
3        APPROVED  Biography       111
4        APPROVED     Comedy       975
..            ...        ...       ...
90        UNRATED    Mystery        86
91              X     Comedy        84
92              X      Crime       136
93              X      Drama       113
94              X     Horror        92

[95 rows x 3 columns]

In [33]:
df.loc[df['genre']=='Crime']

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
...,...,...,...,...,...,...
927,7.5,Brick,R,Crime,110,"[u'Joseph Gordon-Levitt', u'Lukas Haas', u'Emi..."
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [34]:
df.loc[(df['genre']=='Crime')&(df['content_rating']=='PG')]

,star_rating,title,content_rating,genre,duration,actors_list
154,8.2,Cool Hand Luke,PG,Crime,126,"[u'Paul Newman', u'George Kennedy', u'Strother..."
171,8.2,Dial M for Murder,PG,Crime,105,"[u'Ray Milland', u'Grace Kelly', u'Robert Cumm..."
200,8.1,Le Samourai,PG,Crime,101,"[u'Alain Delon', u'Nathalie Delon', u'Fran\xe7..."
297,8.0,Rope,PG,Crime,80,"[u'James Stewart', u'John Dall', u'Farley Gran..."
425,7.9,Badlands,PG,Crime,94,"[u'Martin Sheen', u'Sissy Spacek', u'Warren Oa..."
495,7.8,The Day of the Jackal,PG,Crime,143,"[u'Edward Fox', u'Terence Alexander', u'Michel..."

In [35]:
df.loc[(df['genre']=='Crime')|(df['content_rating']=='PG')]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
...,...,...,...,...,...,...
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [36]:
df.loc[((df['genre']=='Crime')&(df['content_rating']=='PG'))|((df['genre']=='Adventure')&(df['content_rating']=='R'))]

,star_rating,title,content_rating,genre,duration,actors_list
68,8.4,Das Boot,R,Adventure,149,"[u'J\xfcrgen Prochnow', u'Herbert Gr\xf6nemeye..."
114,8.3,Inglourious Basterds,R,Adventure,153,"[u'Brad Pitt', u'Diane Kruger', u'Eli Roth']"
154,8.2,Cool Hand Luke,PG,Crime,126,"[u'Paul Newman', u'George Kennedy', u'Strother..."
164,8.2,Into the Wild,R,Adventure,148,"[u'Emile Hirsch', u'Vince Vaughn', u'Catherine..."
171,8.2,Dial M for Murder,PG,Crime,105,"[u'Ray Milland', u'Grace Kelly', u'Robert Cumm..."
200,8.1,Le Samourai,PG,Crime,101,"[u'Alain Delon', u'Nathalie Delon', u'Fran\xe7..."
206,8.1,Stand by Me,R,Adventure,89,"[u'Wil Wheaton', u'River Phoenix', u'Corey Fel..."
214,8.1,The Grand Budapest Hotel,R,Adventure,99,"[u'Ralph Fiennes', u'F. Murray Abraham', u'Mat..."
297,8.0,Rope,PG,Crime,80,"[u'James Stewart', u'John Dall', u'Farley Gran..."
309,8.0,Blood Diamond,R,Adventure,143,"[u'Leonardo DiCaprio', u'Djimon Hounsou', u'Je..."
424,7.9,The Right Stuff,R,Adventure,193,"[u'Sam Shepard', u'Scott Glenn', u'Ed Harris']"
425,7.9,Badlands,PG,Crime,94,"[u'Martin Sheen', u'Sissy Spacek', u'Warren Oa..."
429,7.9,The Fall,R,Adventure,117,"[u'Lee Pace', u'Catinca Untaru', u'Justine Wad..."
454,7.9,Little Miss Sunshine,R,Adventure,101,"[u'Steve Carell', u'Toni Collette', u'Greg Kin..."
479,7.8,The Motorcycle Diaries,R,Adventure,126,"[u'Gael Garc\xeda Bernal', u'Rodrigo De la Ser..."
495,7.8,The Day of the Jackal,PG,Crime,143,"[u'Edward Fox', u'Terence Alexander', u'Michel..."
555,7.8,3:10 to Yuma,R,Adventure,122,"[u'Russell Crowe', u'Christian Bale', u'Ben Fo..."
564,7.8,Nebraska,R,Adventure,115,"[u'Bruce Dern', u'Will Forte', u'June Squibb']"
576,7.8,Deliverance,R,Adventure,110,"[u'Jon Voight', u'Burt Reynolds', u'Ned Beatty']"
698,7.6,127 Hours,R,Adventure,94,"[u'James Franco', u'Amber Tamblyn', u'Kate Mara']"
900,7.5,The Three Burials of Melquiades Estrada,R,Adventure,121,"[u'Tommy Lee Jones', u'Barry Pepper', u'Dwight..."
911,7.5,Transamerica,R,Adventure,103,"[u'Felicity Huffman', u'Kevin Zegers', u'Fionn..."
935,7.4,Excalibur,R,Adventure,140,"[u'Nigel Terry', u'Helen Mirren', u'Nicholas C..."

In [37]:
df.loc[(df['star_rating']<9.0)|(df['star_rating']>8.1)]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [38]:
df.loc[(df['star_rating']>9.0)&(df['duration']>150)]

,star_rating,title,content_rating,genre,duration,actors_list
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

In [39]:
df.loc[~((df['star_rating']>9.0)|(df['duration']>150))]

,star_rating,title,content_rating,genre,duration,actors_list
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

# isin function pandas

In [40]:
data = pd.read_csv("employees.csv")
data

FileNotFoundError: [Errno 2] No such file or directory: 'employees.csv'

In [ ]:
# making data frame from csv file

  
# creating a bool series from isin()
new = data["Gender"].isin(["Male"])
  
# displaying data with gender = male only
data.loc[new]

In [ ]:
list1 = ['Male',np.NaN]

data.loc[data["Gender"].isin(list1)]

In [ ]:
data.loc[data['Gender']=='Male']

### not in operator  (~)

In [ ]:
data.loc[~(data['Gender']=='Male')]

In [ ]:
data.loc[~((data['Gender']=='Male')|(data['Gender']=='Female'))]

In [ ]:
data.loc[np.where(data['Gender']=='Male')]

In [ ]:
data[new].Gender.unique()

In [ ]:
data1 = pd.DataFrame({'name': ['sravan', 'harsha', 'jyothika'],
                      'subject1': ['python', 'R', 'php'],
                      'marks': [96, 89, 90]}, index=[0, 1, 2])
display(data1)  

list1 = ['harsha', 'jyothika', 96]
  

data1.loc[~data1[['name', 'marks']].isin(list1).any(axis=1)]

In [ ]:
list2 = ['R', 'sravan']
  

data1[~data1[['subject1', 'name']].isin(list2).any(axis=1)]

# group by functions

In [41]:
data = {'Name':['Jai','Anuj','Jai','Princi','Gaurav','Anuj','Princi','Abhi','Anuj'],
       'Age':[27,24,22,32,33,29,27,32,32],
       'Address':['Nagpur','Pune','Kanpur','Allahabad','Jodhpur','Kanpur','Allahabad','Aligarh','Pune'],
       'Qualification':['Msc','MA','MCA','PHD','BE','B.com','Msc','MA','B.com'],
       'Score':[24,24,35,45,53,47,50,52,60]}

df = pd.DataFrame(data)
df

     Name  Age    Address Qualification  Score
0     Jai   27     Nagpur           Msc     24
1    Anuj   24       Pune            MA     24
2     Jai   22     Kanpur           MCA     35
3  Princi   32  Allahabad           PHD     45
4  Gaurav   33    Jodhpur            BE     53
5    Anuj   29     Kanpur         B.com     47
6  Princi   27  Allahabad           Msc     50
7    Abhi   32    Aligarh            MA     52
8    Anuj   32       Pune         B.com     60

## groups function in groupby

In [42]:
df.groupby('Name').groups

{'Abhi': [7], 'Anuj': [1, 5, 8], 'Gaurav': [4], 'Jai': [0, 2], 'Princi': [3, 6]}

In [43]:
df.groupby('Address').groups

{'Aligarh': [7], 'Allahabad': [3, 6], 'Jodhpur': [4], 'Kanpur': [2, 5], 'Nagpur': [0], 'Pune': [1, 8]}

## ngroups in groupby

In [44]:
df.groupby('Name').ngroups

5

In [45]:
df.groupby('Address').ngroups

6

## size in groupby

In [46]:
df.groupby('Name').size()

Name
Abhi      1
Anuj      3
Gaurav    1
Jai       2
Princi    2
dtype: int64

## sort in groupby

In [47]:
df.groupby(['Score'],sort=True).mean('Age')  #by default sort is True gives output of grouby in sorted order

        Age
Score
24     25.5
35     22.0
45     32.0
47     29.0
50     27.0
52     32.0
53     33.0
60     32.0

In [48]:
df.groupby(['Score'],sort=False).mean('Age') # is sort = false then it preserve the actual order of the column on which groupby is applied.

        Age
Score
24     25.5
35     22.0
45     32.0
53     33.0
47     29.0
50     27.0
52     32.0
60     32.0

## statistical functions on groupby

In [49]:
df.groupby(['Name'],sort=False).mean()

              Age      Score
Name
Jai     24.500000  29.500000
Anuj    28.333333  43.666667
Princi  29.500000  47.500000
Gaurav  33.000000  53.000000
Abhi    32.000000  52.000000

In [50]:
df.groupby(['Name'],sort=False).median()

         Age  Score
Name
Jai     24.5   29.5
Anuj    29.0   47.0
Princi  29.5   47.5
Gaurav  33.0   53.0
Abhi    32.0   52.0

In [51]:
df.groupby(['Name'],sort=False)['Age'].median().reset_index()

     Name   Age
0     Jai  24.5
1    Anuj  29.0
2  Princi  29.5
3  Gaurav  33.0
4    Abhi  32.0

In [52]:
df.groupby(['Name'],sort=False)['Age'].sum().reset_index()

     Name  Age
0     Jai   49
1    Anuj   85
2  Princi   59
3  Gaurav   33
4    Abhi   32

In [53]:
df.groupby(['Name'],sort=False)['Age'].min().reset_index()

     Name  Age
0     Jai   22
1    Anuj   24
2  Princi   27
3  Gaurav   33
4    Abhi   32

In [54]:
df.groupby(['Name'],sort=False)['Age'].max().reset_index()

     Name  Age
0     Jai   27
1    Anuj   32
2  Princi   32
3  Gaurav   33
4    Abhi   32

In [55]:
df.groupby(['Name'],sort=False)['Age'].count().reset_index()

     Name  Age
0     Jai    2
1    Anuj    3
2  Princi    2
3  Gaurav    1
4    Abhi    1

## agg functions in groupby

In [56]:
df.groupby(['Name'])['Age'].agg(np.sum)

Name
Abhi      32
Anuj      85
Gaurav    33
Jai       49
Princi    59
Name: Age, dtype: int64

In [57]:
df.groupby(['Name'])['Age'].agg([np.sum,np.mean,np.median,np.std])

        sum       mean  median       std
Name
Abhi     32  32.000000    32.0       NaN
Anuj     85  28.333333    29.0  4.041452
Gaurav   33  33.000000    33.0       NaN
Jai      49  24.500000    24.5  3.535534
Princi   59  29.500000    29.5  3.535534

In [58]:
df.groupby(['Name'])['Address'].agg(pd.Series.mode).reset_index()

     Name           Address
0    Abhi           Aligarh
1    Anuj              Pune
2  Gaurav           Jodhpur
3     Jai  [Kanpur, Nagpur]
4  Princi         Allahabad

In [59]:
df.groupby(['Name'],sort=False)['Age'].mean().reset_index()

     Name        Age
0     Jai  24.500000
1    Anuj  28.333333
2  Princi  29.500000
3  Gaurav  33.000000
4    Abhi  32.000000

In [60]:
df.groupby(['Name']).agg({'Age':np.mean,'Qualification':'count'})

              Age  Qualification
Name
Abhi    32.000000              1
Anuj    28.333333              3
Gaurav  33.000000              1
Jai     24.500000              2
Princi  29.500000              2

In [61]:
df.groupby(['Name']).agg({'Age':'median','Name':'count'})

         Age  Name
Name
Abhi    32.0     1
Anuj    29.0     3
Gaurav  33.0     1
Jai     24.5     2
Princi  29.5     2

## aggregate function in groupby

In [62]:
df

     Name  Age    Address Qualification  Score
0     Jai   27     Nagpur           Msc     24
1    Anuj   24       Pune            MA     24
2     Jai   22     Kanpur           MCA     35
3  Princi   32  Allahabad           PHD     45
4  Gaurav   33    Jodhpur            BE     53
5    Anuj   29     Kanpur         B.com     47
6  Princi   27  Allahabad           Msc     50
7    Abhi   32    Aligarh            MA     52
8    Anuj   32       Pune         B.com     60

In [63]:
df.groupby(['Name','Qualification']).aggregate(np.sum)

                      Age  Score
Name   Qualification
Abhi   MA              32     52
Anuj   B.com           61    107
       MA              24     24
Gaurav BE              33     53
Jai    MCA             22     35
       Msc             27     24
Princi Msc             27     50
       PHD             32     45

In [64]:
df.groupby(['Name','Qualification']).aggregate(np.sum).reset_index()

     Name Qualification  Age  Score
0    Abhi            MA   32     52
1    Anuj         B.com   61    107
2    Anuj            MA   24     24
3  Gaurav            BE   33     53
4     Jai           MCA   22     35
5     Jai           Msc   27     24
6  Princi           Msc   27     50
7  Princi           PHD   32     45

# Apply function

In [65]:
df

     Name  Age    Address Qualification  Score
0     Jai   27     Nagpur           Msc     24
1    Anuj   24       Pune            MA     24
2     Jai   22     Kanpur           MCA     35
3  Princi   32  Allahabad           PHD     45
4  Gaurav   33    Jodhpur            BE     53
5    Anuj   29     Kanpur         B.com     47
6  Princi   27  Allahabad           Msc     50
7    Abhi   32    Aligarh            MA     52
8    Anuj   32       Pune         B.com     60

In [66]:
def add_2_in_age(variable):
    return variable+2

df['Age']=df['Age'].apply(add_2_in_age)
df

     Name  Age    Address Qualification  Score
0     Jai   29     Nagpur           Msc     24
1    Anuj   26       Pune            MA     24
2     Jai   24     Kanpur           MCA     35
3  Princi   34  Allahabad           PHD     45
4  Gaurav   35    Jodhpur            BE     53
5    Anuj   31     Kanpur         B.com     47
6  Princi   29  Allahabad           Msc     50
7    Abhi   34    Aligarh            MA     52
8    Anuj   34       Pune         B.com     60

In [67]:
def uppercase(var):
    return var.upper()

df['Qualification']=df['Qualification'].apply(uppercase)
df

     Name  Age    Address Qualification  Score
0     Jai   29     Nagpur           MSC     24
1    Anuj   26       Pune            MA     24
2     Jai   24     Kanpur           MCA     35
3  Princi   34  Allahabad           PHD     45
4  Gaurav   35    Jodhpur            BE     53
5    Anuj   31     Kanpur         B.COM     47
6  Princi   29  Allahabad           MSC     50
7    Abhi   34    Aligarh            MA     52
8    Anuj   34       Pune         B.COM     60

In [68]:
df

     Name  Age    Address Qualification  Score
0     Jai   29     Nagpur           MSC     24
1    Anuj   26       Pune            MA     24
2     Jai   24     Kanpur           MCA     35
3  Princi   34  Allahabad           PHD     45
4  Gaurav   35    Jodhpur            BE     53
5    Anuj   31     Kanpur         B.COM     47
6  Princi   29  Allahabad           MSC     50
7    Abhi   34    Aligarh            MA     52
8    Anuj   34       Pune         B.COM     60

In [69]:
df['Qualification']=df['Qualification'].apply(lambda x : x.upper())
df

     Name  Age    Address Qualification  Score
0     Jai   29     Nagpur           MSC     24
1    Anuj   26       Pune            MA     24
2     Jai   24     Kanpur           MCA     35
3  Princi   34  Allahabad           PHD     45
4  Gaurav   35    Jodhpur            BE     53
5    Anuj   31     Kanpur         B.COM     47
6  Princi   29  Allahabad           MSC     50
7    Abhi   34    Aligarh            MA     52
8    Anuj   34       Pune         B.COM     60

In [70]:
df['Qualification']=df['Qualification'].transform(lambda x : x.upper())
df

     Name  Age    Address Qualification  Score
0     Jai   29     Nagpur           MSC     24
1    Anuj   26       Pune            MA     24
2     Jai   24     Kanpur           MCA     35
3  Princi   34  Allahabad           PHD     45
4  Gaurav   35    Jodhpur            BE     53
5    Anuj   31     Kanpur         B.COM     47
6  Princi   29  Allahabad           MSC     50
7    Abhi   34    Aligarh            MA     52
8    Anuj   34       Pune         B.COM     60

In [71]:
df['Score_updated']=df['Score'].transform(lambda x :((x-x.min()/x.std())*10))
df

     Name  Age    Address Qualification  Score  Score_updated
0     Jai   29     Nagpur           MSC     24      221.34427
1    Anuj   26       Pune            MA     24      221.34427
2     Jai   24     Kanpur           MCA     35      331.34427
3  Princi   34  Allahabad           PHD     45      431.34427
4  Gaurav   35    Jodhpur            BE     53      511.34427
5    Anuj   31     Kanpur         B.COM     47      451.34427
6  Princi   29  Allahabad           MSC     50      481.34427
7    Abhi   34    Aligarh            MA     52      501.34427
8    Anuj   34       Pune         B.COM     60      581.34427

In [72]:
x=df.groupby('Name')['Age'].apply(lambda x : x+10).reset_index()
x#.drop('index',axis=1)

   index  Age
0      0   39
1      1   36
2      2   34
3      3   44
4      4   45
5      5   41
6      6   39
7      7   44
8      8   44

In [73]:
df.groupby('Name').apply(lambda x : x-x.mean())

C:\Users\Pranav\AppData\Local\Temp/ipykernel_59092/1099954357.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.groupby('Name').apply(lambda x : x-x.mean())

  Address       Age Name Qualification      Score  Score_updated
0     NaN  2.500000  NaN           NaN  -5.500000     -55.000000
1     NaN -4.333333  NaN           NaN -19.666667    -196.666667
2     NaN -2.500000  NaN           NaN   5.500000      55.000000
3     NaN  2.500000  NaN           NaN  -2.500000     -25.000000
4     NaN  0.000000  NaN           NaN   0.000000       0.000000
5     NaN  0.666667  NaN           NaN   3.333333      33.333333
6     NaN -2.500000  NaN           NaN   2.500000      25.000000
7     NaN  0.000000  NaN           NaN   0.000000       0.000000
8     NaN  3.666667  NaN           NaN  16.333333     163.333333

In [74]:
dfx = df.groupby('Name')['Age'].mean().reset_index()
dfx

     Name        Age
0    Abhi  34.000000
1    Anuj  30.333333
2  Gaurav  35.000000
3     Jai  26.500000
4  Princi  31.500000

In [75]:
dfx['Age']=dfx['Age'].apply(lambda x : x-10)
dfx

     Name        Age
0    Abhi  24.000000
1    Anuj  20.333333
2  Gaurav  25.000000
3     Jai  16.500000
4  Princi  21.500000

In [76]:
dfx['just'] = df['Score']*2
dfx

     Name        Age  just
0    Abhi  24.000000    48
1    Anuj  20.333333    48
2  Gaurav  25.000000    70
3     Jai  16.500000    90
4  Princi  21.500000   106